# you need to enable this configuration once after checking out the repo for the first time
# cd fastai_v1
# git config --local include.path '../.gitconfig'

# code notebooks strip out
[filter "fastai-nbstripout-code"]
        clean = tools/fastai-nbstripout
        smudge = cat
        required = true
[diff "ipynb-code"]
        textconv = tools/fastai-nbstripout -t

# docs notebooks strip out
[filter "fastai-nbstripout-docs"]
        clean = tools/fastai-nbstripout -d
        smudge = cat
        required = true
[diff "ipynb-docs"]
        textconv = tools/fastai-nbstripout -dt
